<div class="centered-content">
  <div class="white-box">

    <h1 class="title has-text-primary">Cadastrar Usuário</h1>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #nameInput class="input has-background-light" type="text" placeholder="Nome">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #ageInput class="input has-background-light" type="text" placeholder="Idade">
        <span class="icon is-small is-left">
          <i class="fas fa-birthday-cake"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput class="input has-background-light" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input #passwordInput class="input has-background-light" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        <button class="button" routerLink="/users">Cancelar</button>
        <button class="button is-primary has-text-white" (click)="handleCreateUser(nameInput.value, ageInput.value, emailInput.value, passwordInput.value)">
          Cadastrar
        </button>
      </p>
    </div>

  </div>
</div>
